* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

/* .container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.wrapper {
    width: 100vw;
    white-space: nowrap;
} */

/* .section {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: relative;
} */

/* .section div {
    font-size: 100px;
    color:#ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}  */

.two {

    background-color: pink;
}

.three {
    background-color: white;
}

.four {
    background-color: grey;
}

.five {
    background-color: pink;
}

ul {
    display: inline-flex;
    margin: 20px 50px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    color: #0096c7;
    font-family: 'Amatic SC', cursive;
}

.active {
    color:aqua !important;
}

h1 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 600px;
    right: 290px;
    font-size: 87px;
    color:#072ac8;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 100vh;
}

#p1 {
    margin: 20px 50px;
    position: relative;
    bottom: 1200px;
    left: 190px;
    font-size: 40px;
    color: #0096c7;
    font-family: 'Amatic SC', cursive;
    
}

#connect {
    margin: 20px 50px;
    position: relative;
    bottom: 1200px;
    left: 230px;
    font-size: 20px;
    color: #70d6ff;
    font-family: 'Amatic SC', cursive;
}


.skills{
    display: inline-flex;
    position: relative;
    margin: 20px 60px;
    width: 100vw;
    height: 100vh;
    bottom: 1300px;
    left: 40px;
    
}

#mainPic img{
    position: relative;
    float:right;
    right: -300px;
    bottom: 1700px;
}

h2 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 100vh;
    
}

h3 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 1800px;
    right: 50px;
    font-size: 87px;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 100vh;
}
/* .education {
    display: inline-flex;
    margin: 20px 50px;
    width: 100vw;
    height: 100vh;
    font-size: xx-small;
    color: #70d6ff;
    font-family: 'Amatic SC', cursive;
} */

#school {
    display: inline-flex;
    position: relative;
    font-size: x-large;
    color: black;
    left: 70px;
    bottom: 2650px;
    font-family: 'Amatic SC', cursive;
}

#ga {
    display: inline-flex;
    left: 480px;
    position: relative;
    font-size: x-large;
    color: black;
    bottom: 2650px;
    font-family: 'Amatic SC', cursive;
}

#eduPic img{
    position: relative;
    top: -2450px;
    right: -540px;
}
h4 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:black;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 100vh;
}

h5 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:black;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 100vh;
}

#contact {
    margin: 20px 50px;
    position: relative;
    bottom: 1300px;
    left: 620px;
    font-size: 20px;
    color: #70d6ff;
    font-family: 'Amatic SC', cursive;
} 

/* .btn {
    position: fixed;
    z-index: 100;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    border: none;
}

.left-btn {
    left: 4rem;
}

.left-btn img {
    transform: rotate(-180deg);
}

.right-btn {
    position: absolute;
    /* right: 0%; */


/* .btn img {
    width: 4rem;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2;
}

.btn img:hover{
    opacity: 1;
} */ 