* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto 100px;
    background: linear-gradient(45deg, rgb(23, 106, 250), transparent);
    font-family: 'Pacifico', cursive;
}

ul {
    display: inline-flex;
    margin: 20px 50px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    color: #0096c7;
}

.active {
    color:aqua !important;
}

h1 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 600px;
    right: 290px;
    font-size: 87px;
    color:#072ac8;
    width: 100vw;
    height: 100vh;
}

#p1 {
    margin: 20px 50px;
    position: relative;
    bottom: 1200px;
    left: 190px;
    font-size: 40px;
    color: #0096c7;
}

#connect {
    margin: 20px 50px;
    position: relative;
    bottom: 1200px;
    left: 230px;
    font-size: 20px;
    color: #70d6ff;
}


.skills{
    display: inline-flex;
    position: relative;
    margin: 20px 60px;
    width: 100vw;
    height: 100vh;
    bottom: 1300px;
    left: 40px; 
}

#mainPic img{
    position: relative;
    float:right;
    right: -300px;
    bottom: 1700px;
}

h2 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:white;
    width: 100vw;
    height: 100vh;
    
}

h3 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 1800px;
    right: 50px;
    font-size: 87px;
    color:white;
    width: 100vw;
    height: 100vh;
}

#school {
    display: inline-flex;
    position: relative;
    font-size: x-large;
    color: black;
    left: 70px;
    bottom: 2650px;
}

#ga {
    display: inline-flex;
    left: 480px;
    position: relative;
    font-size: x-large;
    color: black;
    bottom: 2650px;
}

#eduPic img{
    position: relative;
    top: -2450px;
    right: -540px;
}
h4 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:black;
    width: 100vw;
    height: 100vh;
}

h5 {
    margin: 20px 50px;
    position: relative;
    text-align: center;
    bottom : 720px;
    right: 50px;
    font-size: 87px;
    color:black;
    width: 100vw;
    height: 100vh;
}

#contact {
    margin: 20px 50px;
    position: relative;
    bottom: 1300px;
    left: 620px;
    font-size: 20px;
    color: #70d6ff;
} 

.card .card-img-top .card-title .card-text .btn-primary{
    align-items: left;
    position: relative;
    size: medium;

}

.card-title {
    margin: auto;
    position: relative;
    bottom: 1800px;
    text-align: left;
    right: -200px;
    font-size: 50px;
}

.card-img-top {
    margin: auto;
    position: relative;
    bottom: 1200px;
    text-align: left;
    right: -150px;
}

.card-text {
    margin: auto;
    position: relative;
    bottom: 1900px;
    text-align: left;
    right: -190px;
    font-size: 25px;
}

.btn-primary {
    margin: auto;
    position: relative;
    bottom: 1900px;
    text-align: left;
    right: -190px;
    font-size: 25px;
}

.social {
    margin: auto;
    position: relative;
    bottom: 1300px;
    left: 580px;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    body {
      /* tablet - two column display */
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 50px auto 30px;
    }
  }

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 50px auto 30px;
    }
}